body {
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.container div {
    min-height: 200px;
}

.header {
    background-color: #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: deepskyblue;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.main-content {
    background-color: #ececec;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}